@page
@using Microsoft.AspNetCore.Identity
@using dotnet_ECommerce.Models
@model dotnet_ECommerce.Pages.Shop.CartModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "My Cart";
    Layout = "_Layout";
}
<div class="container text-center">
    <h1 class="text-left">
        My Cart
    </h1>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.CartItem.Count; i++)
            {
                <div class="col-sm">
                    <img class="detail-img" src="@Model.CartItem[i].Product.Image" width="350" />
                </div>
                <div class="col-sm">
                    <div class="row">
                        <h6>@Model.CartItem[i].Product.Name</h6>
                    </div>
                    <form method="post">
                        <div>
                            <label asp-for="@Model.CartItem[i].Quantity">Quantity&nbsp;&nbsp;</label>
                            <input asp-for="@Model.CartItem[i].Quantity" type="text">
                            <p>&nbsp;</p>
                        </div>
                    </form>
                    <div class="row">
                        <h6>$@Model.CartItem[i].Product.Price</h6>
                    </div>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.CartItem[i].ProductID">Update</a>
                    <a asp-action="Delete" asp-route-id="@Model.CartItem[i].ProductID">Remove</a>
                </div>
            }
            <form method="post">
                <button class="add-to-cart-button">Check Out</button>
            </form>
        </div>
    </div>
</div>
