@page
@model dotnet_ECommerce.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Orders";
    Layout = "_Layout";
}

<div class="container">
    <h1>Orders</h1>
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    Order
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Timestamp
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => order.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.Timestamp)
                    </td>
                    @{decimal subtotal = 0;
                        foreach (var orderItem in Model.OrderItems.Where(orderItem => orderItem.OrderID == order.ID))
                        {
                            subtotal += orderItem.Quantity * orderItem.Product.Price;
                        }
                    }
                    @{double finalTotal = Decimal.ToDouble(subtotal) * 1.1;}
                    <td>
                        $@finalTotal.ToString("F")
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@order.ID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>